div.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 43px;
  width: 100%;

  ul.mainMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    padding-left: 40px;
    li {
      a {
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0.06em;
        text-align: left;
      }
    }
  }
  select {
    padding: 0px 20px;
    height: 80%;
    width: 150px;
    background-color: white;
    border: none;
    border-radius: 7px;
    margin-left: 40vw;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-align: left;
  }

  a.button {
    height: 100%;
    width: 112px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-align: left;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px #0000000d;
  }
  a.active {
    height: 80%;
    width: 100px;
    margin-left: 76px;
    margin-right: 6px;
    font-size: 14px;
    color: rgb(209, 26, 26);
  }
  a.inactive {
  }
}
